@model SehirGuzergahModel

<section class="tm-banner">
    <div class="tm-container-outer tm-banner-bg">
        <div class="container">
            <div class="row tm-banner-row tm-banner-row-header">
                <div class="col-xs-12">
                    <div class="tm-banner-header">
                        <h1>TÜRKİYE'DE<br><strong class="white">Büyüleyici seyahatlar</strong></h1>

                        <a href="javascript:void(0)" class="tm-down-arrow-link"><i class="fa fa-2x fa-angle-down tm-down-arrow"></i></a>
                    </div>
                </div>
            </div>
            <div class="row tm-banner-row" id="tm-section-search">
                <form asp-action="index" asp-controller="Home" method="post" class="tm-search-form tm-section-pad-2">
                    <div class="form-row tm-search-form-row">
                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                            <label>Nereden:</label>
                            <select name="nereden" class="form-control" asp-items="@ViewBag.Sehirler">
                                <option selected disabled>Seç</option>
                            </select>
                        </div>
                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                            <label>Nereye</label>
                            <select name="nereye" class="form-control" asp-items="@ViewBag.Sehirler">
                                <option selected disabled>Seç</option>
                            </select>
                        </div>
                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                            <label>KoltukNo</label>
                            <select name="SeatNo" class="form-control" asp-items="@ViewBag.Seat">
                                <option selected disabled>Seç</option>
                            </select>
                        </div>
                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                            <label>Tarih</label>
                            <input name="tarih" class="form-control" placeholder="Any" type="date">
                        </div>

                    </div>
                    <div class="form-row tm-search-form-row">

                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                            <label for="btnSubmit">&nbsp;</label>
                            <button type="submit" class="btn btn-primary tm-btn tm-btn-search text-uppercase" id="btnSubmit">Bilet Ara</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tm-banner-overlay"></div>
        </div>
    </div>
</section>



@if (Model.Guzergahs != null)
{
    <div class="row justify-content-around">
        @foreach (var item in Model.Guzergahs)
        {
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/Ankara-Fotoğrafları.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <form asp-action="BiletAl" asp-controller="Home" method="get">
                            <input type="hidden" name="GuzergahId" value="@item.GuzergahId" />
                            <h5 class="card-title">Fiyat: @item.GuzargahFiyat₺</h5>
                            <h5 class="card-title">Tarih: @item.GuzergahTarihi</h5>
                            <button type="submit" class="btn btn-warning btn-lg ">Yolculuk Seç</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    
}

@*@await Component.InvokeAsync("Guzergah")*@
